{% extends 'home.html'%}

{% block section1%}
<div>
    <br>
        <div style="margin-top: 50px; margin-block-end: 600px;">
            <p  style="background:#f6f7f0; padding: 24px; float: left; width: 65%;  color:black; font-size: 18px; text-align: justify;margin-left: 20px;">
                Sexóloga, terapeuta, conductora TV, especialista TV, conferencista, tallerista.   
            </p>
            <img style="padding: 30px; float: left; width: 25%;" src="https://media-exp1.licdn.com/dms/image/C5603AQG7zdMPYVY-qg/profile-displayphoto-shrink_200_200/0/1629758625186?e=1654128000&v=beta&t=MGRWEu5-yc-GIRvUhf72E8E7Do3Shy5njJ_4yRE06c8" width="70" height="350">
            </img>
        </div>
    </br>
</div>

{% endblock%}

{% block body2%}
<div class="container" style="height: 400px; background-color: aqua;">

</div>
{% endblock %}