{% extends 'dashboard.html'%}
{% load static %}
{% block dashboarHeaders %}
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

<script src="{% static 'dashboard/js/chartCountry.js' %}?version=202112301200"></script>
<script src="{% static 'dashboard/js/cityChart.js' %}?version=202112301200"></script>
<script src="{% static 'dashboard/js/languageChart.js' %}?version=202112301200"></script>
<script src="{% static 'dashboard/js/chartBrowser.js' %}?version=202112301200"></script>

{% endblock   %}

{% block dashboarContent%}
    <div class="row">
        <!--Tabla de Usuarios por Sistema Operativo-->
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Usuarios por Sistema Operativo </h4>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>País</th>
                        <th>Usuarios</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for key,value in os.items %}
                          <tr>
                                <td>{{key}} </td>
                                <td>{{value}}</td>
                          </tr>
                    {% endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>    
        </div>
        <!--Gráfica de Usuarios por Sistema Operativo-->
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Gráfica de usuarios por Sistema Operativo</h4>
                <canvas id="pieChart"></canvas>
            </div>
            </div>    
        </div>
        <!--Tabla de Usuarios por Tipo de Dispositivo -->
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Usuarios por Tipo de Dispositivo </h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>País</th>
                            <th>Usuarios</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for device,value in type_devices.items %}
                            <tr>
                              <td> <span>{{device}} </span></td>
                              <td>{{value}}</td>
                            </tr>
                          {% endfor%}
                          </tbody>
                      </table>
                </div>
              </div>
            </div>    
        </div>
        <!--Gráfica de Usuarios por Tipo de Dispositivo -->
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Gráfica de usuarios por Tipo de Dispositivo </h4>
                <canvas id="cityChart"></canvas>
            </div>
            </div>    
        </div>
        <!--Tabla de Usuarios por Dispositivo-->
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Usuarios por Dispositivo </h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Idioma</th>
                            <th>Usuarios</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for key,value in devices.items %}
                          <tr>
                            <td> <span>{{key}} </span></td>
                            <td>{{value}}</td>
                          </tr>
                        {% endfor%}
                        </tbody>
                      </table>
                </div>
              </div>
            </div>    
        </div>
        <!--Gráfica de Usuarios por Dispositivo-->
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Gráfica de usuarios por Dispositivo</h4>
                <canvas id="languageChart"></canvas>
            </div>
            </div>    
        </div>
        <!--Tabla de Usuarios por Navegador-->
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Usuarios por Navegador </h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Idioma</th>
                            <th>Usuarios</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for key,value in browsers.items %}
                          <tr>
                            <td> <span>{{key}} </span></td>
                            <td>{{value}}</td>
                          </tr>
                        {% endfor%}
                        </tbody>
                      </table>
                </div>
              </div>
            </div>    
        </div>
        <!--Gráfica de Usuarios por Navegador-->
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Gráfica de usuarios por Navegador</h4>
                <canvas id="browserChart"></canvas>
            </div>
            </div>    
        </div>
    </div>
    

{% endblock %}

{% block dashboarScripts %}
  <script src="{% static 'dashboard/vendors/chart.js/Chart.min.js'%}?version=202112301001"></script>

{% endblock %}

{% block dashboarScript1 %}
<script>
    var dict;

    oss=[];
    ossValues=[];

    typesDevices=[];
    typesDevicesValues=[];

    devices=[];
    devicesValues=[];

    browsers=[];
    browsersValues=[];
   
       $.ajax({
        url:'{% url 'getGraphTech' %}',
        type: 'POST',
        dataType:'json'
        }).done( function (data) {
            //Os 
            console.log("Os");
            console.log(data[0].oss);
            for (var [key, value] of Object.entries(data[0].oss))
            {
                oss.push(key);
                ossValues.push(value);
            }
            pieChart(ossValues,oss);
            //Types Devices
            console.log("Types Devices");
            console.log(data[0].types_device);
            for (var [key, value] of Object.entries(data[0].types_device))
            {
                typesDevices.push(key);
                typesDevicesValues.push(value);
            }
            cityChart(typesDevicesValues,typesDevices);          
            //Devices          
            console.log("Devices");
            console.log(data[0].devices);
            for (var [key, value] of Object.entries(data[0].devices))
            {
                devices.push(key);
                devicesValues.push(value);
            }
            languageChart(devicesValues,devices);                 
            //Browsers          
            console.log("Browers");
            console.log(data[0].browsers);
            for (var [key, value] of Object.entries(data[0].browsers))
            {
                browsers.push(key);
                browsersValues.push(value);
            }
            chartBrowser(browsersValues,browsers);    
        }).fail(function (jqXHR, textStatus,errorThrown)
        {
            console.log("Error gráfica");                     
        }); 
        
</script>
{% endblock %}

