{% extends 'home.html'%}
{% block style%}
      df-messenger {
        --df-messenger-bot-message: #646b83;
        --df-messenger-button-titlebar-color: #b56d00;
        --df-messenger-chat-background-color: #fafafa;
        --df-messenger-font-color: white;
        --df-messenger-send-icon: #b56d00;
        --df-messenger-user-message: #b56d00;
        }

{% endblock %}

{% block section1%}
    <div class="swiper-container hero-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide indexCard" data-date="2022/03/26 19:00:00">
                <div class="hero-content">
                    <div class="container contCenter">
                        <div class="row">
                            <div class="col flex flex-column justify-content-center">
                                <div class="entry-header">
                                    <h2 class="entry-title">El evento inicia en: </h2>

                                    <div class="countdown flex align-items-center">
                                        <div class="countdown-holder flex align-items-baseline">
                                            <span class="dday"></span>
                                            <label> Días</label>
                                        </div><!-- .countdown-holder -->

                                        <div class="countdown-holder flex align-items-baseline">
                                            <span class="dhour"></span>
                                            <label> Horas</label>
                                        </div><!-- .countdown-holder -->

                                        <div class="countdown-holder flex align-items-baseline">
                                            <span class="dmin"></span>
                                            <label> Minutos</label>
                                        </div><!-- .countdown-holder -->

                                        <div class="countdown-holder flex align-items-baseline">
                                            <span class="dsec"></span>
                                            <label> Segundos</label>
                                        </div><!-- .countdown-holder -->
                                    </div><!-- .countdown -->

                                </div><!--- .entry-header -->

                                <div class="entry-footer contCenter">
                                    <a class="btn gradient-bg" href="{% url 'login' %}">Iniciar Sesión</a>
                                </div><!-- .entry-footer" -->
                            </div><!-- .col -->
                        </div><!-- .container -->
                    </div><!-- .hero-content -->
                </div><!-- .swiper-slide -->
            </div><!-- .swiper-wrapper -->
        </div>
    </div><!-- .swiper-container -->
{% endblock%}

{% block body2%}
<div class="container" style="height: 400px; background-color: aqua;">
</div>
{% endblock %}

{% block endpage %}
  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
  <df-messenger
    chat-title="Multiboleto"
    intent="WELCOME"
    chat-icon="https://multiboleto.com/images/multiboleto.png"
    agent-id="b4596094-9cc7-434d-b44d-4d82df71e98d"
    wait-open="true"
    language-code="es">
  </df-messenger>
  {% include 'whats.html' %}
{% endblock %}