{% extends 'home.html'%}
{% load static %}
{% load widget_tweaks %}
{% block style%}
      df-messenger {
        --df-messenger-bot-message: #646b83;
        --df-messenger-button-titlebar-color: #eed704fd;
        --df-messenger-chat-background-color: #fafafa;
        --df-messenger-font-color: white;
        --df-messenger-send-icon: #eed704fd;
        --df-messenger-user-message: #eed704fd;
        }

{% endblock %}

{% block section1%}
<div>
    <div class="upcoming-events-outer">
     
        <div class="contStreaming">
            <div class="streaming h-100">
                <div class="videoStreaming">
                    <div id="video-container" class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://vimeo.com/event/1157941/embed" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                    </div>
                </div>
                <div class="reaction-button-container">
                  <button id="emoji-hand-button" class="emoji-button" type="button" name="button">👋</button>
                  <button id="emoji-thumb-button" class="emoji-button" type="button" name="button">👍</button>
                  <button id="emoji-heart-button" class="emoji-button" type="button" name="button">❤️</button>
                  <button id="emoji-applause-button" class="emoji-button" type="button" name="button">👏</button>
                  <button id="emoji-laugh-button" class="emoji-button" type="button" name="button">😆</button>
                </div>
            
                <div class="chatStreaming">
                    <div class="headerChat">
                        <ul class="listHeaderChat">
                            <li id="panelChat" class="itemHeaderChat triggerChat active" onclick="viewChat()" >Chat</li>
                            <li id="panelQuestion" class="itemHeaderChat triggerQuestion"  onclick="viewQuestion()">Pregunta al Ponente</li>
                          <li id="panelQuizz" class="itemHeaderChat triggerQuizz quizzTab"  onclick="viewQuizz()">Quizz</li>
                            <li id="panelSurvey" class="itemHeaderChat triggerSurvey surveyTab" onclick="viewSurvey()">Encuesta</li>
                        </ul>
                    </div>

                    <div class="tab-content bodyCol2">
                        <div id="chatStr" class="tab-pane chatStyle active tabEncuesta" >
                                                  
                            <div id="chatSitacomm"  style="display:none; height:100%;">
                                <div style="height:100%;">
                                  <div class="panel">
                                        <div class="panel-heading">
                                            <div class="row" style="margin:0px;">
                                                <div class="col-9 white-text nMessages" id="totalMessages"></div>
                                                <div class="col-3 getOldMessages">
                                                    <button type="button" class="btn btn-hdi" data-toggle="dropdown">
                                                        <i class="fa fa-comments-o text-white" aria-hidden="true"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a class="dropdown-item " href="javascript:lastChatMessages();">Mensajes anteriores</a></li>            
                                                        <li class="divider"></li>             
                                                      </ul>
                                                </div>
                                            </div>
                                            
                                           
                                        </div>
                                          <div id="chat-body" class="collapse in show chatBody">
                                                  <div class="nano has-scrollbar" id="chatContainer" >
                                                    <div class="nano-content pad-all" tabindex="0"  id="chat" style="background:white;">              
                                                    </div>              
                                                  </div>
                                                  <div class="panel-footer">
                                                    <br>
                                                    <div class="row rowFooter">

                                                        <div class="col-lg-12 " id="div_messageResponse" style=" overflow: auto; ">
                                                            
                                                        </div>

                                                      <div class="col-lg-9">
                                                        <input type="text"  data-emoji="true"  id="message" onkeydown="handleText(event);" placeholder="Escribe tu mensaje..." class="form-control inputMessage" style="border: solid 2px #5f6567; border-radius:25px;"></input><!-- chat-input-->                    
                                                    </div>
                                                      <br>
                                                      <div class="col-lg-3">
                                                        <button class="btn btn-hdi btn-block btnChat"  onClick="handleOnClick()">
                                                         Enviar
                                                        </button>
                                                      </div>                    
                                                    </div>
                                                  </div>                    
                                                <br/>
                                          </div>
                                    </div>                                
                                </div>
                            </div>
    
                                                    
                        </div>



                <!-- + <div class="tab-content bodyCol2">
                        <div id="chatStr" class="tab-pane chatStyle active tabEncuesta">-->   
                            <!--
                            <div class="arena-chat" data-publisher="fitness-sitacomm" data-chatroom="UIic5rX" data-position="in-page"></div>
                            <script async src="https://go.arena.im/public/js/arenachatlib.js?p=fitness-sitacomm&e=UIic5rX"></script>
                            -->
                        <!-- +   <div id="chatSitacomm"  > -->
                                <!--<div style="height:100%;">-->
                          <!-- +         <div class="panel">
                                        <div class="panel-heading">
                                            <div class="row" style="margin:0px;">
                                                <div class="col-9 white-text nMessages" id="totalMessages"></div>
                                                <div class="col-3 getOldMessages">
                                                    <button type="button" class="btn btn-hdi" data-toggle="dropdown">
                                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a class="dropdown-item " href="javascript:lastChatMessages();">Mensajes anteriores</a></li>            
                                                        <li class="divider"></li>             
                                                    </ul>
                                                </div>
                                            </div>
                                            
                                            <div id="chat-body" class="collapse in show chatBody">-->
                                               <!-- <div class="nano has-scrollbar" id="chatContainer" >-->
                                            <!-- +    <div class="nano-content pad-all" tabindex="0"  id="chat" style="background:white;"></div>     -->         
                                                <!-- </div>-->
                                                <!-- MENSAJES-->
                                             <!-- +   <div class="panel-footer">
                                                  <br>
                                                    <div class="row rowFooter">
                                                        <div class="col-lg-12 " id="div_messageResponse" style=" overflow: auto; "></div>
                                                        <div class="col-lg-8">
                                                            <input type="text"  data-emoji="true"  id="message" onkeydown="handleText(event);" placeholder="Escribe tu mensaje..." class="form-control inputMessage" style="border: solid 2px #5f6567; border-radius:25px;"></input><!-- chat-input-->                    
                                                    <!-- +     </div>
                                                        <div class="col-lg-2">
                                                            <button class="btn btn-hdi btn-block btnChat"  onClick="handleOnClick()">
                                                                Enviar
                                                            </button>
                                                        </div>                    
                                                    </div>
                                                  <br/>
                                                </div>                    
                                            </div>
                                        </div>
                                          
                                    </div> -->                                
                               <!-- </div>-->
                           <!-- +  </div>


                        </div> -->


                        <div id="questions" class="tab-pane questionsStyle tabEncuesta contCenter">
                            <div class="container containerPreguntas" style="display: grid; justify-content: center;">
                                <h4 class="titleQuestionPonente" style="color: black;"> Pregunta al ponente</h4>
                                <br>
                                <form action="" method="post" class="contCenter" id="questionForm">
                                        {% csrf_token %}
                                            <input class="hidden" name="action" value="{{actionQuestion}}" hidden>  
                                            {{ formQuestion.question | add_class:"textAreaQuestion"}}
                                            <div class="group"> 
                                                <input class="hidden" name="user" value="{{request.user.get_full_name}}" hidden>
                                            </div>
                                            <div class="group"> 
                                                <input class="hidden" name="email" value="{{request.user.email}}" hidden>
                                            </div>     
                                            <br> 
                                            <div class="group"> 
                                                <input class="hidden" name="code" value="{{code}}" hidden>
                                            </div>     
                                            <br>                                                                                   
                                            <div class="form-row">
                                                <div class="form-group col">
                                                    <div id="alert_placeholderQuestion">
                                                    </div>
                                                </div>
                                            </div> 
                                            <br>
                                            <div class="group"> 
                                                <input class="btn gradient-bg" type="submit" value="Enviar">                                            
                                            </div>
                                        <div class="hr"></div>
                                </form>
                                <br>
                            </div>
                        </div>
                        <div id="quizz" class="tab-pane quizzStyle  tabEncuesta contCenter">
                            <div class="quizzContainer">
                                <div id="quizzBegin" id="quizzBegin" style="justify-items: center;">
                                    <br>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="justify-items: center;">
                                            <img src="{% static 'lib/images/multiboleto.png' %}" style="width:100%;"> 
                                        </div>
                                    </div>  
                                    <p class="titleQuizz"> Quiz no disponible</p>   
                                    <p class="titleQuizz"> Espera la instruccción del ponente para poder contestar.</p>
                                </div>
                                <div class="quizzBody" id="quizzBody">
                                    <form action="" method="post" id="quizzForm">
                                        {% csrf_token %}
                                        <input class="hidden" name="action" value="{{actionQuestion}}" hidden>  
                                        <input type="hidden" id="userSurvery" name="user" placeholder="email" value="{{request.user.get_full_name}}">
                                        <input type="hidden"  id="emailSurvery" name="mailUser" placeholder="email" value="{{request.user.email}}">
                                        <input type="hidden"  name="score" placeholder="porcentaje *" value="1" >
                                        <input type="hidden"  name="question" id="idQuizz">
                                        <div class="quizzQuestion1">
                                            <p class="titleQuizz" id="titleQuizz1"> ¿Cuántos continentes hay en el mundo? </p>   
                                            <div class="quizzOptions">
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q1" type="radio" name="answer" value="A"> <span>Tres</span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q1" type="radio" name="answer" value="B"> <span>Cuatro</span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q1" type="radio" name="answer" value="C"> <span>Cinco</span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q1" type="radio" name="answer" value="D"> <span>Seis</span>
                                                    </label>
                                            </div>  
                                        </div>
                                        <div class="quizzQuestion2">
                                            <p class="titleQuizz" id="titleQuizz2"> ¿Cuál es la capital de Brasil? </p>   
                                            <div class="quizzOptions">
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q2" type="radio" name="answer" value="A"> <span>Rio de Janeiro</span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q2" type="radio" name="answer" value="B"> <span>Sao Paulo</span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q2" type="radio" name="answer" value="C"> <span>Brasilia</span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q2" type="radio" name="answer" value="D"> <span>Manaos</span>
                                                    </label>
                                            </div>  
                                        </div>
                                        <div class="quizzQuestion1">
                                            <p class="titleQuizz" id="titleQuizz3"> ¿En que año fue descubierta América? </p>   
                                            <div class="quizzOptions">
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q3" type="radio" name="answer" value="A"> <span>1912</span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q3" type="radio" name="answer" value="B"> <span>1492</span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q3" type="radio" name="answer" value="C"> <span>1810</span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q3" type="radio" name="answer" value="D"> <span>1650</span>
                                                    </label>
                                            </div>  
                                        </div>
                                        <div class="quizzQuestion2">
                                            <p class="titleQuizz" id="titleQuizz4"> ¿Qué colores aparecen en la bandera de Francia? </p>   
                                            <div class="quizzOptions">
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q4" type="radio" name="answer" value="A"> <span> Rojo y Amarillo</span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q4" type="radio" name="answer" value="B"> <span> Verde, Blanco y Rojo </span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q4" type="radio" name="answer" value="C"> <span>Negro, Amarillo y Rojo </span>
                                                    </label>
                                                    <label class="radioQuizz">
                                                        <input class="quizzRadio q4" type="radio" name="answer" value="D"> <span>Azul, Blanco y Rojo </span>
                                                    </label>
                                            </div>  
                                        </div>
                                        <div class="form-row ">
                                            <div class="form-group col">
                                                <div id="alert_placeholderQuizz" class="contCenter">
                                    
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="footerQuizz contCenter">
                                            <button class="btn gradient-bg" id="submitQuizz" type="submit">Guardar</button>
                                        </div>
                                    </form>  
                                </div>
                                <div id="quizzDone" id="quizzDone">
                                    <br>
                                    <p class="titleQuizz" id="titleGraph"></p>   
                                    <br>
                                    <h2 id="labelA">A) </h2>
                                    <div class="bar">
                                    <div class="bar-inner bar-90" id="graphA" data-percent="20%"></div>
                                    </div>

                                    <h2 id="labelB">B) </h2>                                    <div class="bar">
                                    <div class="bar-inner bar-80" id="graphB" data-percent="30%"></div>
                                    </div>

                                    <h2 id="labelC">C) </h2>                                        <div class="bar">
                                        <div class="bar-inner bar-90" id="graphC"data-percent="45%"></div>
                                    </div>

                                    <h2 id="labelD">D) </h2>
                                    <div class="bar">
                                        <div class="bar-inner bar-80" id="graphD" data-percent="40%"></div>
                                    </div>-->
                                    <!--<canvas id="densityChart" style="width:100%;"></canvas>-->
                                    <!--<canvas id="bar-chart-horizontal" width="800" height="450"></canvas>
                                        <p class="titleQuizz"> Tus respuestas han sido guardadas</p>   
                                    <p class="titleQuizz"> Gracias por participar </p>  --> 
                                </div>
                            </div>

                        </div>
                        <div id="survey" class=" tab-pane surveyStyle surveye tabEncuesta">
                            <div class="surveyBegin" id="surveyBegin">
                                <br>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="justify-items: center;">
                                        <img src="{% static 'lib/images/multiboleto.png' %}" style="width:100%; display:none;"> 
                                    </div>
                                </div>  
                                <p class="titleQuizz"> Encuesta no disponible</p>   
                                <p class="titleQuizz"> Espera la instrucccioón del ponente para poder contestar.</p>                                
                            </div>
                            <div class="surveyContainer" id="surveyContainer">
                                <form action="" method="post" id="surveyForm">
                                    {% csrf_token %}
                                    <input class="hidden" name="action" value="{{actionQuestion}}" hidden>  
                                    <input type="hidden"  name="user" placeholder="email" value="{{request.user.get_full_name}}">
                                    <input type="hidden"  name="email" placeholder="email" value="{{request.user.email}}">
                                    <input type="hidden"  name="score" placeholder="porcentaje *" value="1" >
                                    <div class="surveyQuestion1">
                                        <p class="titleSurvey"> 1. Como calificas tu experiencia en el uso de la plataforma y la calidad de la transmisión </p>   
                                        <div class="surveyOptions">
                                                <label class="radioSurvey">
                                                    <input class="surveyRadio s1" type="radio" name="s1" value="A"> <span>Excelente </span>
                                                </label>
                                                <label class="radioSurvey">
                                                    <input class="surveyRadio s1" type="radio" name="s1" value="B"> <span>Bien </span>
                                                </label>
                                                <label class="radioSurvey">
                                                    <input class="surveyRadio s1" type="radio" name="s1" value="C"> <span>Regular</span>
                                                </label>
                                                <label class="radioSurvey">
                                                    <input class="surveyRadio s1" type="radio" name="s1" value="D"> <span>Malo</span>
                                                </label>
                                        </div>  
                                    </div>
                                    <div class="surveyQuestion2">
                                        <p class="titleSurvey">  2. Como calificas el Show Luzia de Cirque du Soleil </p>   
                                        <div class="surveyOptions">
                                                <label class="radioSurvey">
                                                    <input class="surveyRadio s2" type="radio" name="s2" value="A"> <span>Excelente </span>
                                                </label>
                                                <label class="radioSurvey">
                                                    <input class="surveyRadio s2" type="radio" name="s2" value="B"> <span> Bien </span>
                                                </label>
                                                <label class="radioSurvey">
                                                    <input class="surveyRadio s2" type="radio" name="s2" value="C"> <span>Regular </span>
                                                </label>
                                                <label class="radioSurvey">
                                                    <input class="surveyRadio s2" type="radio" name="s2" value="D"> <span>Malo </span>
                                                </label>
                                        </div>  
                                    </div>
                                    <div class="surveyQuestion3">
                                        <p class="titleSurvey"> 3. Regálanos tus comentarios sobre el evento </p>   
                                        <div class="surveyOptions">
                                            <input type="text" name="s3" class="textAreaQuestion s3" placeholder="Escribe tus comentarios.">
                                        </div>  
                                    </div>
                                    <div class="form-row ">
                                        <div class="form-group col">
                                            <div id="alert_placeholderSurvey" class="contCenter">

                                            </div>
                                        </div>
                                    </div> 
                                    <div class="footerQuizz contCenter">
                                        <button class="btn gradient-bg" id="nextSurvey">Siguiente</button>
                                        <br>
                                        <button class="btn gradient-bg" id="submitSurvey" type="submit">Guardar</button>
                                    </div>
                                </form>
                                <div id="surveyDone">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="justify-items: center;">
                                            <img src="{% static 'lib/images/multiboleto.png' %}" style="width:100%;"> 
                                        </div>
                                    </div> 
                                    <p class="titleSurvey"> Tus respuestas han sido guardadas</p>   
                                    <p class="titleSurvey"> Gracias por participar </p>   
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'lib/js/emoji-animations.js' %}"></script>


{% endblock%}

{% block endpage %}
  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
  <df-messenger
    chat-title="Sitacomm"
    intent="WELCOME"
    chat-icon="https://www.sitacomm.com/images/logo.png"
    agent-id="b4596094-9cc7-434d-b44d-4d82df71e98d"
    wait-open="true"
    language-code="es">
  </df-messenger>
{% endblock %}
{% block body2%}
    <div class="container" style="height: 400px; background-color: aqua;">

    </div>

{% endblock %}

{% block scripts%}

    <script>
    var noQuizz=0;
    var porcentaje=0;
    var title;
    var titleQuizz;
    console.log("analytics 1");
    var analytics={{ analytics |safe }};
    console.log(analytics);

    var  headers= {
        "Content-Type": "aplication/json",
        "access-control-allow-origin": "*",
    }
    
	//axios.post("http://127.0.0.1:8001/create-analytics", analytics, headers)
    axios.post("https://multiboleto.com/create-analytics", analytics, headers)    
    .then(function (response) {
        console.log(response);
            console.log("Datos Capturados en multiboleto");
        }).catch(function (error) {
            console.log("Datos no capturados");
            console.log(error);
    });


     $('#questionForm').on('submit', function (e) {
         e.preventDefault();
         console.log("parametros");
         console.log(parameters)
         var parameters= $(this).serializeArray();
         console.log(parameters);
         $.ajax({
             url:'{% url 'createQuestion' %}',
             type: 'POST',
             data: parameters,
             dataType:'json'
         }).done( function (data) {
             if(!data.hasOwnProperty('error'))
             {
                console.log('Pregunta enviada');
                clearQuestion();
             }
             else
             {
                listError(data.error);
             }
        }).fail(function (jqXHR, textStatus,errorThrown)
        {
            console.log("Error e");
            console.log(textStatus+ ':'+errorThrown);
        }).always(function (data) {

        });
     });

     $('#nextSurvey').click(function(e){
        e.preventDefault();
        var valid = validate();
        if(valid) {
            noQuizz++;
            console.log("no Quizz ",noQuizz);
            length = 3;
            if(  length  == noQuizz) {
                console.log("step: "+noQuizz);
                jQuery('#nextSurvey').css("display","none");
                jQuery('#submitSurvey').css("display","block");
                noQuizz=0;
            }
            else
            {
                jQuery('.surveyQuestion'+noQuizz).css("display","none");
                jQuery('.surveyQuestion'+(noQuizz+1)).css("display","block");    
            }
        }
    });

    function validate() {
        var auxstep = noQuizz +1;
        type = jQuery('.s'+auxstep).attr('type');
        if(type == 'radio'){
            value = jQuery('.s'+auxstep+':checked').val();
            console.log(value);
            if(value != '' && value != null) {
                return true;
            }
            else
            {
                alertQuizz("Por favor contesta la pregunta");
            }
        }
        else if(type == 'text'){
            value = jQuery('.s'+auxstep).val();
            console.log(value);
            if(value != '' && value != null) {
                return true;
            }
        }
        return false;
    }

     $('#surveyForm').on('submit', function (e) {
         e.preventDefault();
         var parameters= $(this).serializeArray();
         console.log(parameters);
         $.ajax({
             url:'{% url 'createSurvey' %}',
             type: 'POST',
             data: parameters,
             dataType:'json'
         }).done( function (data) {
             if(!data.hasOwnProperty('error'))
             {                 
                jQuery('.surveyQuestion3').css("display","none");
                jQuery('#submitSurvey').css("display","none");
                jQuery('#surveyDone').css("display","block");
             }
             else
             {
                 console.log(data.error)
                /*listError(data.error);      */         
             }             
        }).fail(function (jqXHR, textStatus,errorThrown)
        {
            console.log("Error e");
            console.log(textStatus+ ':'+errorThrown);
        }).always(function (data) {

        }); 
     });

     function initQuizz()
     {
         var quizzBegin=document.getElementById("quizzBegin");
         var quizzBody=document.getElementById("quizzBody");
         var quizzDone=document.getElementById("quizzDone");
         var quizzSub=document.getElementById("submitQuizz");
         var idQuizzInput=document.getElementById("idQuizz");
         $.ajax({
             url:'{% url 'getQuiz' %}',
             method: "get",
             dataType: "json",
             success: function(data)
             {
                 quizz=data.data;
                 console.log("quizz: "+quizz);
                 if(quizz==0)
                 {
                    quizzBegin.style.display="block";
                    quizzBody.style.display="none";
                    quizzDone.style.display="none";
                    setTimeout(function(){ 
                        readQuizz(quizz);
                        }, 1000);
                }
                 else
                 {
                    quizzQuestion=document.getElementsByClassName('quizzQuestion'+quizz)[0];
                    idQuizzInput.setAttribute("value",quizz);
                    titleQuizz=document.getElementById("titleQuizz"+quizz);
                    title=titleQuizz.innerHTML;                               
                    console.log(data.data);
                    quizzBegin.style.display="none";
                    quizzBody.style.display="block";
                    quizzQuestion.style.display="block";
                    quizzDone.style.display="none";
                    quizzSub.style.display="block";
                }     
             },
             fail: function(){
             },
             beforeSend: function(){
             }
         });    
     
     }     
    
     $('#quizzForm').on('submit', function (e) {
        var quizzSub=document.getElementById("submitQuizz");
        var idQuizzInput=document.getElementById("idQuizz");

        var idQuizz=idQuizzInput.value;
        e.preventDefault();        
        var parameters= $(this).serializeArray();  
        $.ajax({
            url:'{% url 'createQuizz' %}',
            type: 'POST',
            data: parameters,
            dataType:'json'
        }).done( function (data) {
            if(!data.hasOwnProperty('error'))
            {
               console.log(data.answers);
               console.log(data.total);
               quizzBegin.style.display="none";
               quizzBody.style.display="none";
               quizzQuestion.style.display="none";
               quizzDone.style.display="block";
               quizzSub.style.display="none";
               orderGraph(data.answers, data.total);
               setTimeout(function(){ 
                readQuizz(idQuizz);
                }, 6000);
            }
            else
            {
                console.log("Eror el");
               listError(data.error);
            }
       }).fail(function (jqXHR, textStatus,errorThrown)
       {
           console.log("Error e");
           console.log(textStatus+ ':'+errorThrown);
       }).always(function (data) {

       });

    });     

    function readQuizz(quizzParameter)
    {
        console.log("Quizz Parameter Read:"+quizzParameter)
        var quizzBegin=document.getElementById("quizzBegin");
        var quizzBody=document.getElementById("quizzBody");
        var quizzDone=document.getElementById("quizzDone");
        var quizzSub=document.getElementById("submitQuizz");
        var idQuizzInput=document.getElementById("idQuizz");

        var quizzResponse;
        $.ajax({
            url:'{% url 'getQuiz' %}',
            method: "get",
            dataType: "json",
            success: function(data)
            {
                quizzResponse=data.data;  
               if(quizzResponse==0 || quizzResponse==quizzParameter)
               {
                quizzBegin.style.display="block";
                quizzBody.style.display="none";
                quizzDone.style.display="none";                     
                setTimeout(function(){ 
                    readQuizz(quizzResponse);
                    }, 1000);
                } 
                else if(quizzResponse!=quizzParameter) 
                {
                   quizzQuestion=document.getElementsByClassName('quizzQuestion'+quizzResponse)[0];
                   idQuizzInput.setAttribute("value",quizzResponse);
                   titleQuizz=document.getElementById("titleQuizz"+quizzResponse);
                   title=titleQuizz.innerHTML;                               
                   quizzBegin.style.display="none";
                   quizzBody.style.display="block";
                   quizzQuestion.style.display="block";
                   quizzDone.style.display="none";
                   quizzSub.style.display="block";
               }    
            },
            fail: function(){
            },
            beforeSend: function(){
            }
        }); 

    }

    function orderGraph(answers,total)
    {
        values=[]
        labels=[]
        for (var [key, value] of Object.entries(answers))
        {
            per=Math.round((value/total)*100);
            labels.push(key+" "+per+"% ");
            values.push(per);
        }
        graphAnswers(values,labels);
        graphLoader();

    }

    function graphAnswers(values,labels){
        labelA=document.getElementById("labelA");
        labelB=document.getElementById("labelB");
        labelC=document.getElementById("labelC");
        labelD=document.getElementById("labelD");
        graphA=document.getElementById("graphA");
        graphB=document.getElementById("graphB");
        graphC=document.getElementById("graphC");
        graphD=document.getElementById("graphD");
        titleGraph=document.getElementById("titleGraph");

        titleGraph.innerHTML=title;

        graphA.setAttribute("data-percent",values[0]+"%");
        graphB.setAttribute("data-percent",values[1]+"%");
        graphC.setAttribute("data-percent",values[2]+"%");
        graphD.setAttribute("data-percent",values[3]+"%");
    }

    function graphLoader()
    {
        var _bars = [].slice.call(document.querySelectorAll('.bar-inner'));
        _bars.map(function(bar, index) {
          setTimeout(function() {
              bar.style.width = bar.dataset.percent;
          }, index * 500);          
        });            
    }

    function activateSurvey()
    {
        var surveyStatus;
        console.log("Survey...");
        $.ajax({
            url:'{% url 'getSurvey' %}',
            method: "get",
            dataType: "json",
            success: function(data)
            {                
                surveyStatus=data;
                if(surveyStatus==0)
                {
                    console.log(surveyStatus);
                    jQuery('#surveyBegin').css("display","block");
                    jQuery('#surveyBody').css("display","none");      
                    jQuery('#surveyDone').css("display","none");      
                    jQuery('#nextSurvey').css("display","none");      
                    jQuery('#surveyContainer').css("display","none");           
                }
                else
                {
                    console.log(1);
                    jQuery('#surveyBegin').css("display","none");
                    jQuery('#surveyBody').css("display","block");      
                    jQuery('#nextSurvey').css("display","block");  
                    jQuery('#surveyDone').css("display","none");          
                    jQuery('#surveyContainer').css("display","block");                    
                    jQuery('.surveyQuestion1').css("display","block");                    
                }
            },
            fail: function(){
            },
            beforeSend: function(){
            }
        });   
    }
   

    $(document).ready(function() {
        initaccess();
        initchat();
        viewChat();
    });
</script>
  

{% endblock %}

