{% extends 'MeetTemplate.html'%}

    {% block infoMeet %}
    <div class="container">
      <input id="name" value="{{name}}">
      <input id="mn" value="{{mn}}">
      <input id="email" value="{{email}}">
      <input id="pwd" value="{{pwd}}">
      <input id="role"  value="{{role}}">    
      <input id="lang" value="{{lang}}">
      <input id="signature" value="{{signature}}">      
      <input id="china" value="{{china}}">    
      <input id="apiKey" value="{{apiKey}}">
    </div>

    {% endblock   %}
    {% block meeet2 %}
     <script > 
        const  mydata  =  JSON . parse ( documento . getElementById ( 'name' ). textContent ); 
    </script >
    <script>
        const simd = async () => WebAssembly.validate(new Uint8Array([0, 97, 115, 109, 1, 0, 0, 0, 1, 4, 1, 96, 0, 0, 3, 2, 1, 0, 10, 9, 1, 7, 0, 65, 0, 253, 15, 26, 11]))
        simd().then((res) => {
          console.log("simd check", res);
        });
    </script>
    <script>

window.addEventListener('DOMContentLoaded', function(event) {
    console.log('DOM fully loaded and parsed');
    websdkready();
  });
  

  function websdkready() {

    var nameDoc=document.getElementById("name").value;
    var mnDoc=document.getElementById("mn").value;
    var emailDoc=document.getElementById("email").value;
    var pwdDoc=document.getElementById("pwd").value;
    var roleDoc=document.getElementById("role").value;
    var langDoc=document.getElementById("lang").value;
    var signatureDoc=document.getElementById("signature").value;
    var chinaDoc=document.getElementById("china").value;
    var apiKeyDoc=document.getElementById("apiKey").value;

    var testTool = window.testTool;
    // get meeting args from url
    var tmpArgs = testTool.parseQuery();
    var meetingConfig = {
      apiKey:apiKeyDoc,//tmpArgs.apiKey,
      meetingNumber:"2529817306",// tmpArgs.mn,
      userName: (function () {
        if (nameDoc) {
          try {
            return testTool.b64DecodeUnicode(nameDoc);
          } catch (e) {
            return nameDoc;
          }
        }
        return (
          "CDN#" +
          tmpArgs.version +
          "#" +
          testTool.detectOS() +
          "#" +
          testTool.getBrowserInfo()
        );
      })(),
      passWord:pwdDoc, //tmpArgs.pwd,
      leaveUrl: "/breakout",
      role: parseInt(roleDoc, 10),
      userEmail: (function () {
        try {
          return testTool.b64DecodeUnicode(" ");
        } catch (e) {
          return "";
        }
      })(),
      lang:langDoc, //tmpArgs.lang,
      signature: signatureDoc || "",
      china: chinaDoc === "1",
    };
  
    // a tool use debug mobile device
    if (testTool.isMobileDevice()) {
      vConsole = new VConsole();
    }
    console.log(JSON.stringify(ZoomMtg.checkSystemRequirements()));
  
    // it's option if you want to change the WebSDK dependency link resources. setZoomJSLib must be run at first
    // ZoomMtg.setZoomJSLib("https://source.zoom.us/1.9.1/lib", "/av"); // CDN version defaul
    if (meetingConfig.china)
      ZoomMtg.setZoomJSLib("https://jssdk.zoomus.cn/1.9.1/lib", "/av"); // china cdn option
    ZoomMtg.preLoadWasm();
    ZoomMtg.prepareJssdk();
    function beginJoin(signature) {
      ZoomMtg.init({
        leaveUrl: meetingConfig.leaveUrl,
        webEndpoint: meetingConfig.webEndpoint,
        success: function () {
          console.log(meetingConfig);
          console.log("signature", signature);
          ZoomMtg.i18n.load(meetingConfig.lang);
          ZoomMtg.i18n.reload(meetingConfig.lang);
          ZoomMtg.join({
            meetingNumber: meetingConfig.meetingNumber,
            userName: meetingConfig.userName,
            signature: signature,
            apiKey: meetingConfig.apiKey,
            userEmail: meetingConfig.userEmail,
            passWord: meetingConfig.passWord,
            success: function (res) {
              console.log("join meeting success");
              console.log("get attendeelist");
              ZoomMtg.getAttendeeslist({});
              ZoomMtg.getCurrentUser({
                success: function (res) {
                  console.log("success getCurrentUser", res.result.currentUser);
                },
              });
            },
            error: function (res) {
              console.log(res);
            },
          });
        },
        error: function (res) {
          console.log(res);
        },
      });
  
      ZoomMtg.inMeetingServiceListener('onUserJoin', function (data) {
        console.log('inMeetingServiceListener onUserJoin', data);
      });
    
      ZoomMtg.inMeetingServiceListener('onUserLeave', function (data) {
        console.log('inMeetingServiceListener onUserLeave', data);
      });
    
      ZoomMtg.inMeetingServiceListener('onUserIsInWaitingRoom', function (data) {
        console.log('inMeetingServiceListener onUserIsInWaitingRoom', data);
      });
    
      ZoomMtg.inMeetingServiceListener('onMeetingStatus', function (data) {
        console.log('inMeetingServiceListener onMeetingStatus', data);
      });
    }
  
    beginJoin(meetingConfig.signature);
  };

    </script>
    {% endblock   %}
