

{% extends 'home.html'%}
{% load static %}
{% block section1%}

<div class="newsletter-subscribe">
    <div class="contStreaming">
        <div class="h-100">
            <div class="container">
              <div class="row">
                {% for question in questions %}
                        <!-- <div class="col-1 col-sm-1 col-md-1 col-xl-1 col-lg-1"></div> -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
                          <div class="card" style="background-color:#efdac2;">
                            <div class="content-container">
                              <img src="{% static 'lib/images/multiboleto.png' %}" alt="logo" class="imgNavLogo">
                              <div class="text-content">
                                <h2 class="questionQuestion"> {{question.question}}</h2>
                                <h4 class="nameQuestion"> {{question.user}} </h4>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="col-1 col-sm-1 col-md-1 col-xl-1 col-lg-1"></div> -->
                {% endfor %}
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}

{% block body2%}
{% endblock %}
